{%- comment -%}
  It creates a style tag and it restricts an image from growing larger than its max resolution.

  Accepts:
  - image: {Object} Image object
  - sizes: {String} A set of source sizes, defaults to 100vw
  - max_width: {Number} Max width of the image container
  - max_height: {Number} Max height of the image container
  - img_class: {String} class name of the <img />
  - wrapper_class: {String} class name of the <div> wrapper

  Usage:
  In your liquid template file, copy the following line
  - {% include 'responsive-image' with image: featured_image, sizes: "(min-width: 45em) 50vw, 100vw", img_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 700, max_height: 800 %}
{%- endcomment -%}

{%- comment -%}Incremental number to avoid conflict styling code when the same images are using this snippet{%- endcomment -%}
{%- capture responsive_image_counter %}{% increment responsive_image_counter %}{% endcapture -%}

<style>
  {%- comment -%}
    The image aspect ratio tells us the orientation of the image:
    - less than 1.0 is portrait
    - exactly 1.0 is square
    - greater than 1.0 is landscape
  {%- endcomment -%}
  {%- if image.aspect_ratio <= 1 -%}
    {%- assign max_height_image = image.height | at_most: max_height -%}
    {%- assign max_width_image = max_height_image | times: image.aspect_ratio -%}
  {%- else -%}
    {%- assign max_width_image = image.width | at_most: max_width -%}
    {%- assign max_height_image = max_width_image | divided_by: image.aspect_ratio -%}
  {%- endif -%}

  #Image-{{ image.id }}-{{ responsive_image_counter }} {
    max-width: {{ max_width_image }}px;
    max-height: {{ max_height_image }}px;
  }
  #ImageWrapper-{{ image.id }}-{{ responsive_image_counter }} {
    max-width: {{ max_width_image }}px;
  }

  #ImageWrapper-{{ image.id }}-{{ responsive_image_counter }}::before {
    {%- comment -%}
      When you change the window screen width, we want to make sure that the container's size is proportionally calculated.
      Note regarding padding percentage: The percentage is calculated with respect to the width of the generated box's containing block (source: http://www.w3.org/TR/2011/REC-CSS2-20110607/box.html#padding-properties)
    {%- endcomment -%}
    padding-top:{{ max_height_image | divided_by: max_width_image | times: 100}}%;
  }
</style>

<div id="ImageWrapper-{{ image.id }}-{{ responsive_image_counter }}" class="responsive-image__wrapper {{ wrapper_class }}" >
  <img id="Image-{{ image.id }}-{{ responsive_image_counter }}"
    class="responsive-image__image {{ img_class }}"
    src="{{ image | img_url: '300x' }}"
    srcset="
      {%- if image.width > 3024 -%}{{ image | img_url: '3024x' }} 3024w,{%- endif -%}
      {%- if image.width > 2808 -%}{{ image | img_url: '2808x' }} 2808w,{%- endif -%}
      {%- if image.width > 2592 -%}{{ image | img_url: '2592x' }} 2592w,{%- endif -%}
      {%- if image.width > 2376 -%}{{ image | img_url: '2376x' }} 2376w,{%- endif -%}
      {%- if image.width > 2160 -%}{{ image | img_url: '2160x' }} 2160w,{%- endif -%}
      {%- if image.width > 1944 -%}{{ image | img_url: '1944x' }} 1944w,{%- endif -%}
      {%- if image.width > 1728 -%}{{ image | img_url: '1728x' }} 1728w,{%- endif -%}
      {%- if image.width > 1512 -%}{{ image | img_url: '1512x' }} 1512w,{%- endif -%}
      {%- if image.width > 1296 -%}{{ image | img_url: '1296x' }} 1296w,{%- endif -%}
      {%- if image.width > 1080 -%}{{ image | img_url: '1080x' }} 1080w,{%- endif -%}
      {%- if image.width > 900 -%}{{ image | img_url: '900x' }} 900w,{%- endif -%}
      {%- if image.width > 720 -%}{{ image | img_url: '720x' }} 720w,{%- endif -%}
      {%- if image.width > 540 -%}{{ image | img_url: '540x' }} 540w,{%- endif -%}
      {%- if image.width > 360 -%}{{ image | img_url: '360x' }} 360w,{%- endif -%}
      {%- if image.width > 180 -%}{{ image | img_url: '180x' }} 180w{%- endif -%}"
    sizes="{% if sizes %}{{ sizes}}{% else %}100vw{% endif %}"
    alt="{{ image.alt | escape }}"
  >
</div>
