{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is loaded when you add "Blog Posts" section on the Theme Editor.

  We are showing a preview of what the blog post looks like in the preview.

  Required settings
  - Blog (which blog category to show in your store)
  - Number of posts to show

  Optional settings
  - Show author
  - Show date
{%- endcomment -%}
<section>
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- comment -%}
    This refer from blog section when you add the section from Theme Editor
  {%- endcomment -%}
  {%- assign blog = blogs[section.settings.blog] -%}

  {% unless blog.articles_count == 0 %}
    <div class="blog-post">
      {% for article in blog.articles limit: section.settings.post_limit %}
        <div class="blog-post__item">
          {% if article.image %}
            <a href="{{ article.url }}">
              {% include 'responsive-image' with
                  image: article.image,
                  max_width: 400,
                  max_height: 400
              %}
            </a>
          {% endif %}

          <div>
            <h2>
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>

            {% if section.settings.blog_show_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_show_date %}
              <span class="blog-post__date">
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              </span>
            {% endif %}

            <div class="blog-post__excerpt">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 150 }}
              {% endif %}
            </div>

            {% if article.tags.size > 0 %}
              {% for tag in article.tags %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="">{{ tag }}</a>
              {% endfor %}
            {% endif %}

            <a href="{{ article.url }}">
              {{ 'blogs.article.read_more' | t }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="">
      {% for i in (1..section.settings.post_limit) %}
        <div class="">
          <div class="">
            <h3 class="">
              <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
            </h3>

            {% if section.settings.blog_show_author %}
              <span class="">{{ 'homepage.onboarding.blog_author' | t }}</span>
            {% endif %}

            <div class="">
              {{ 'homepage.onboarding.blog_excerpt' | t }}
            </div>

            <ul class="">
              <li>
                <a href="{{ article.url }}" class="">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}
</section>

{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
